.contenedor{
    background-image: url(../img/1643616-2940x2160-desktop-hd-berserk-anime-background-image.jpg);
    background-position: center;
    background-size: cover;
    background-color:rgb(176, 43, 43);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    height: 100vh;
    
}
.uno{
    background-color:rgb(112, 4, 4);
    height:350px ;
    width: 350px;
    flex-wrap:wrap ;
    border-radius: 15px;
    text-align: center;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}
img{
    height: 25 0px;
    width: 350px;
    border-radius: 15px;

}
.tooltip{
    background-color:black; 
    color: rgb(255, 255, 255);
    width: 30px ;
    height: 30px;
    position: absolute;
    top: 4px; 
    right: 2px;
    border-radius: 50px;
    text-align: center;
    

}
.inf{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    background-color: rgb(124, 34, 13);
    color: rgb(228, 2, 2);

}
.tooltip:hover .inf{
    visibility: visible;
    opacity: 1;
}
.uno:hover {
    transform: scale(1.1); /* Aumenta el tamaño */
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.936); /* Aumenta la sombra */
}

